.dottraces-current-object {
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.38);
    opacity: 0;
    z-index: -1;
    transition: all .3s ease;
    .pip-ref-item {
        height: 56px;
        padding-left: 8px;
        padding-right: 8px;
        .pip-title,
        .pip-subtitle {
            color: white !important;
        }
    }
    &.show {
        opacity: 1;
        z-index: 20;
    }
}

iqs-dot-traces-panel {
    .iqs-small-container {
        bottom: 48px !important;
    }
    .map-control-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .zoom-buttons {
        position: absolute;
        right: 26px;
        top: 12px;
    }
}

.pip-map-info-top-margin {
    margin-top: -72px;
}